@model ForgotPasswordViewModel
<p>
    Check your email!
    We've sent an email to @Model.Email
    Please check your spam folder if you don't see our email in your inbox.
    <a href="#">Need more help?</a>
</p>
